@import "../css/partials/_variables.scss";
@import "../css/partials/_mixins.scss";
@import "../css/partials/pages/_home.scss";

/*Base (Global) Styles*/
/*Layout Styles*/
/*Typography Styles*/
/*Component Styles*/
/*Utilities Styles*/
/*States & Themes Styles*/
/*Media Queries*/
/*Overrides*/

body{
  min-height: 100dvh;
}

section.home, section.projects, section.contact{
    min-height: 100dvh;
    place-content: center;
    text-align: center;
}