@import "../css/partials/_variables.scss";
@import "../css/partials/_mixins.scss";
@import "../css/partials/components/_header.scss";
@import "../css/partials/pages/_home.scss";

/*Base (Global) Styles*/
/*Layout Styles*/
/*Typography Styles*/
/*Component Styles*/
/*Utilities Styles*/
/*States & Themes Styles*/
/*Media Queries*/
/*Overrides*/

body{
  min-height: 100dvh;
}

section.home, section.projects, section.contact{
    min-height: 100dvh;
    place-content: center;
    text-align: center;
}

.project-grid{
    grid-gap: 1rem;
    display: grid;
    @media(min-width: 768px ){
        grid-template-columns: repeat(2, 1fr);
    }
    @media(min-width: 1200px ){
        grid-template-columns: repeat(4, 1fr);
    }
}

.project-card-img-overlay{
    background: rgb(72,37,18);
    background: linear-gradient(0deg, rgba(72,37,18,0) 0%, rgba(72,37,18,0.5) 53%);
    z-index: 0;
}