ul#designprocess.nav.nav-tabs(role='tablist')
  li.nav-item(role='presentation')
    button#empathize-tab.nav-link.active(data-bs-toggle='tab' data-bs-target='#empathize-tab-pane' type='button' role='tab' aria-controls='empathize-tab-pane' aria-selected='true') Empathize
  li.nav-item(role='presentation')
    button#define-tab.nav-link(data-bs-toggle='tab' data-bs-target='#define-tab-pane' type='button' role='tab' aria-controls='define-tab-pane' aria-selected='false') Define
  li.nav-item(role='presentation')
    button#ideate-tab.nav-link(data-bs-toggle='tab' data-bs-target='#ideate-tab-pane' type='button' role='tab' aria-controls='ideate-tab-pane' aria-selected='false') Ideate
  li.nav-item(role='presentation')
    button#design-tab.nav-link(data-bs-toggle='tab' data-bs-target='#design-tab-pane' type='button' role='tab' aria-controls='design-tab-pane' aria-selected='false') Design
  li.nav-item(role='presentation')
    button#test-tab.nav-link(data-bs-toggle='tab' data-bs-target='#test-tab-pane' type='button' role='tab' aria-controls='test-tab-pane' aria-selected='false') Test
#designprocessContent.tab-content.bg-primary-subtle.p-3.rounded.shadow-lg
  #empathize-tab-pane.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='empathize-tab' tabindex='0') 
    p.fw-bolder User Research and Competitive Analysis 
    p Conducted in-depth research to understand the challenges and pain points faced by participants interviewed.
    .pain-points-highlights-wrapper 
        ul.list-group.pain-points.list-group-flush
            -for(i=0; i<4; i++) 
                li.list-group-item 
                    span.icon.fa-solid.fa-face-frown.text-danger.me-2 
                    span.description Pain point item goes here
        ul.list-group.pain-points.list-group-flush
            -for(i=0; i<4; i++) 
                li.list-group-item 
                    span.icon.fa-solid.fa-face-smile.text-success.me-2 
                    span.description Highlight point item goes here
  #define-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='define-tab' tabindex='0')
    p.fw-bolder Define
    p User Persona, Empathy Map and Problem Statement should go here.
  #ideate-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='ideate-tab' tabindex='0') 
    p.fw-bolder Ideate
    p User Flow and Information Architecture visuals go here.
  #design-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='design-tab' tabindex='0')
    p.fw-bolder Design
    p Wireframes, Visual Design and Prototype screenshots go here.
  #test-tab-pane.tab-pane.fade(role='tabpanel' aria-labelledby='test-tab' tabindex='0') Test
  
