doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css")
        link(rel="stylesheet", href="css/style.css")
        title Frontend Dev - E. Wright
    body(data-bs-spy="scroll" data-bs-target="#headerNav" tabindex="0")
        include ./components/header/header.pug
        main 
            include ./pages/home.pug
            include ./pages/projects/projects.pug
            include ./pages/contact.pug
            include ./pages/quote.pug
        include ./components/footer/footer.pug
            script(src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
            script(type='module').
                // Import the functions you need from the SDKs you need
                import { initializeApp } from "https://www.gstatic.com/firebasejs/11.1.0/firebase-app.js";
                // TODO: Add SDKs for Firebase products that you want to use
                // https://firebase.google.com/docs/web/setup#available-libraries
                // Your web app's Firebase configuration
                const firebaseConfig = {
                apiKey: "AIzaSyCYRdd4yFtSqa9Tt5T2scMwOx1WcxOh3q0",
                authDomain: "software-dev-portfolio-1c3d1.firebaseapp.com",
                projectId: "software-dev-portfolio-1c3d1",
                storageBucket: "software-dev-portfolio-1c3d1.firebasestorage.app",
                messagingSenderId: "339342976499",
                appId: "1:339342976499:web:c1cabb1d9b1ffe023f1e86"
                };
                // Initialize Firebase
                const app = initializeApp(firebaseConfig);
            script(src="index.js")  
        