doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css")
        link(rel="stylesheet", href="css/style.css")
        title Frontend Dev - E. Wright
    body(data-bs-spy="scroll" data-bs-target="#headerNav" tabindex="0")
        include ./components/header/header.pug
        main 
            include ./pages/home.pug
            include ./pages/projects/projects.pug
            include ./pages/contact.pug
            include ./pages/quote.pug
        include ./components/footer/footer.pug
            script(src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
            script(src="index.js")  
        