doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css")
        link(rel="stylesheet", href="css/style.css")
        title Frontend Dev - E. Wright
    body 
        include ./components/header.pug
        main 
            .container 
                h1
                    span.fa.fa-home 
                    span Hello World

        footer
            script(src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
            script(src="index.js")  
        