doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css")
        link(rel="stylesheet", href="css/style.css")
        title Frontend Dev - E. Wright
    body 
        include ./components/header/header.pug
        main 
            video#bg-video(autoplay='' muted='' loop='')
                source(src='https://videos.pexels.com/video-files/19457509/19457509-uhd_3840_2160_30fps.mp4' type='video/mp4')
                | Your browser does not support the video tag.
            .container
                .case-study-grid
                    .case-study-hero-img-wrapper.overlay.rounded 
                        h1.project-title.text-light Fictitious Project Title
                    .case-study-widget-wrapper.card.bg-primary-subtle.p-3
                        p.title-label.fw-bold.mb-0 Role   
                        p.title-value.mb-0 Developer
                    .case-study-widget-wrapper.card.bg-primary-subtle.p-3 
                        p.title-label.fw-bold.mb-0 Project Type 
                        p.title-value.mb-0 Ecommerce Platform
                    .case-study-widget-wrapper.card.bg-primary-subtle.p-3 
                        p.title-label.fw-bold.mb-0 Tools/Technologies 
                        p.title-value.mb-0 HTML, CSS, Javascript, Pug
                    .case-study-widget-wrapper.card.bg-primary-subtle.p-3 
                        p.title-label.fw-bold.mb-0 Duration 
                        p.title-value.mb-0 Feb 2024 - Dec 2024
                    .case-study-problem-statement-wrapper.rounded 
                        .problem-statement-img-wrapper 
                            img(src="https://images.pexels.com/photos/6146929/pexels-photo-6146929.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1", alt="")
                        .problem-statement-text-content.card.bg-primary 
                            .card-body.text-light
                                h2 The Problem
                                p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, quisquam eum cupiditate labore facere rem.
                    .case-study-project-goals-wrapper 
                        h2.text-center.mx-auto Project Goals 
                        .case-study-project-goals-grid 
                            -for(i=0; i<4; i++)
                                .project-goal.card.bg-primary-subtle 
                                    .card-body 
                                        h3.project-goal-title Project Goal
                                        p.project-goal-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, ipsa.

            script(src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
            script(src="index.js")  