doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css")
        link(rel="stylesheet", href="css/style.css")
        title Frontend Dev - E. Wright
    body 
        include ./components/header/header.pug
        main 
            video#bg-video(autoplay='' muted='' loop='')
                source(src='https://videos.pexels.com/video-files/19457509/19457509-uhd_3840_2160_30fps.mp4' type='video/mp4')
                | Your browser does not support the video tag.
            .container
                .case-study-grid
                    .case-study-hero-img-wrapper.rounded 
                    .case-study-widget-wrapper.card.bg-primary-subtle.p-3
                        p.title-label.fw-bold.mb-0 Role   
                        p.title-value.mb-0 Developer

                    .case-study-widget-wrapper.card.bg-primary-subtle.p-3 
                        p.title-label.fw-bold.mb-0 Project Type 
                        p.title-value.mb-0 Ecommerce Platform
                    .case-study-widget-wrapper.card.bg-primary-subtle.p-3 
                        p.title-label.fw-bold.mb-0 Tools/Technologies 
                        p.title-value.mb-0 HTML, CSS, Javascript, Pug
                    .case-study-widget-wrapper.card.bg-primary-subtle.p-3 
                        p.title-label.fw-bold.mb-0 Duration 
                        p.title-value.mb-0 Feb 2024 - Dec 2024
                    

            script(src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js")
            script(src="index.js")  