section.projects#projects.pt-5 
    .container.pt-5
         .row.justify-content-center
            .col-lg-8.mb-5.page-intro 
                .text-content.text-light
                    h2 Projects
                    p A curated gallery of my recent projects
            .col-12.mb-3.project-grid        
                -for(i=0; i<4; i++)
                    include ../projects/project-card.pug
 

   
       
