
.card.project-card.shadow.bg-primary-subtle
    img.card-img-top.wireframe(src="./assets/images/wireframe.jpg", alt="")   
    .card-body.text-start
        .row.mb-3
            .col-6 
                p.card-text 
                    span.small.text-secondary-emphasis UI Design
            .col-6.text-end
                small 
                    a.card-link.link-underline-opacity-0(href='#' data-bs-toggle="tooltip" data-bs-title="View Demo") 
                        .fa-solid.fa-search
                    a.card-link.link-underline-opacity-0(href='#' data-bs-toggle="tooltip" data-bs-title="View Case Study")
                        .fa-solid.fa-book-open
            
        h5.card-title Project Title
        p.card-text.mb-0
        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .card-text.text-start.text-muted
            small 3 mins ago
//- .card.project-card.shadow.bg-primary-subtle
//-     img.card-img-top.wireframe(src="./assets/images/wireframe-1.jpg", alt="")
//-     .card-img-overlay.text-start
//-         h3.h6.card-title.text-light
//-             span.project-type-icon.bg-secondary-subtle.p-1.rounded.me-2
//-                 .fa-solid.fa-pencil.text-secondary-emphasis 
//-             span.project-type-label UI Design
//-         p.card-text.text-light
//-             small Last updated 3 mins ago
//-     .card-body.text-start
//-         p.card-text 
//-             span.badge.rounded-pill.text-secondary-emphasis.bg-secondary-subtle Manufacturing
//-         h5.card-title Project Title
//-         p.card-text
//-         | Some text to build on the card title and make up the content.
//-     .card-body.text-end
//-         a.card-link(href='#') View Case Study
//-         a.card-link.btn.btn-primary(href='#') View Demo