
.card.project-card.shadow.bg-primary-subtle
    img.card-img-top.wireframe(src="./assets/images/wireframe.jpg", alt="")   
    .card-body.text-start
        .row.mb-3
            .col-6 
                p.card-text 
                    span.small.text-secondary-emphasis UI Design
            .col-6.text-end
                small 
                    a.card-link.link-underline-opacity-0(href='#' data-bs-toggle="tooltip" data-bs-title="View Demo") 
                        .fa-solid.fa-search
                    a.card-link.link-underline-opacity-0(href='./project-1.html' data-bs-toggle="tooltip" data-bs-title="View Case Study")
                        .fa-solid.fa-book-open
            
        h5.card-title Project Title
        p.card-text.mb-0
        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .card-text.text-start.text-muted
            small 3 mins ago
.card.project-card.shadow.bg-primary-subtle
    img.card-img-top.wireframe(src="./assets/images/wireframe-1.jpg", alt="")   
    .card-body.text-start
        .row.mb-3
            .col-6 
                p.card-text 
                    span.small.text-secondary-emphasis UI Design + Development
            .col-6.text-end
                small 
                    a.card-link.link-underline-opacity-0(href='#' data-bs-toggle="tooltip" data-bs-title="View Demo") 
                        .fa-solid.fa-search
                    a.card-link.link-underline-opacity-0(href='./project-1.html' data-bs-toggle="tooltip" data-bs-title="View Case Study")
                        .fa-solid.fa-book-open
            
        h5.card-title Project Title
        p.card-text.mb-0
        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
        .card-text.text-start.text-muted
            small 12 days ago
