$primary: #D47F52;
$secondary: #A8C2CF;
$font-size: 16px;
$spacing-unit: 1rem;
// Color scale generated in :root inside style.css




// // Spacing
// $sp-xs:.25rem;
// $sp-sm: .5rem;
// $sp-md: .75rem;
// $sp-lg: 1rem;