// @import "~bootstrap/scss/_variables.scss";

$primary: #D47F52;
$secondary: #A8C2CF;
$font-size: 16px;
$spacing-unit: 1rem;
$grid-gap: $spacing-unit;
$linear-gradient-light: linear-gradient(0deg, rgba(255,255,255,.95) 0%, rgba(255,255,255,0) 75%);
$linear-gradient-primary-dark: linear-gradient(0deg, rgba(72,37,18,.95) 0%, rgba(72,37,18,0) 75%);
// Variables generated in :root inside style.css


@import "../../node_modules/bootstrap/scss/bootstrap.scss";
