.table-responsive 
    table.table.table-striped
        thead
            tr
                th(scope='col') Company
                th(scope='col') Company 1
                th(scope='col') Company 2
                th(scope='col') Company 3
                th(scope='col') Company 4
        tbody
            tr
                th(scope='row') UI
                td 
                    span.fa-solid.fa-circle-check.text-success
                td 
                    span.fa-solid.fa-circle-check.text-success
                td 
                    span.fa-solid.fa-circle-check.text-success
                td 
                    span.fa-solid.fa-circle-check.text-success
                
            tr
                th(scope='row') UX
                td 
                    span.fa-solid.fa-circle-check.text-success
                td 
                    span.fa-solid.fa-circle-check.text-success
                td 
                    span.fa-solid.fa-circle-check.text-success
                td 
                    span.fa-solid.fa-circle-check.text-success
            tr
                th(scope='row') Search & Filtering
                td 
                    span.fa-solid.fa-circle-xmark.text-danger
                td 
                    span.fa-solid.fa-circle-check.text-success
                td 
                    span.fa-solid.fa-circle-check.text-success
                td 
                    span.fa-solid.fa-circle-check.text-success