.pain-points-highlights-wrapper.mb-5 
    ul.list-group.pain-points.list-group-flush
        -for(i=0; i<4; i++) 
            li.list-group-item 
                span.icon.fa-solid.fa-face-frown.text-danger.me-2 
                span.description Pain point item goes here
    ul.list-group.pain-points.list-group-flush
        -for(i=0; i<4; i++) 
            li.list-group-item 
                span.icon.fa-solid.fa-face-smile.text-success.me-2 
                span.description Highlight point item goes here