.user-persona-wrapper
    .card.user-info-card
        .card-body
            .avatar-image-wrapper
                img.img-fluid.rounded-circle(src="https://mighty.tools/mockmind-api/content/human/91.jpg", alt="")
            .avatar-meta.my-3
                dl.row.mb-0 
                    dt.col-5 Name 
                    dd.col-7.mb-0 
                        p.mb-0 User Name
                dl.row.mb-0 
                    dt.col-5 Age 
                    dd.col-7.mb-0 
                        p.mb-0 51
                dl.row.mb-0 
                    dt.col-5 Location 
                    dd.col-7.mb-0 
                        p.mb-0 Boise, Idaho
                dl.row.mb-0 
                    dt.col-5 Occupation 
                    dd.col-7.mb-0 
                        p.mb-0 HVAC Installer
                dl.row.mb-0 
                    dt.col-5 Education 
                    dd.col-7.mb-0 
                        p.mb-0 High School Diploma
                dl.row.mb-0 
                    dt.col-5 Marital Status 
                    dd.col-7.mb-0 
                        p.mb-0 Divorced
            p.mb-0.avatar-summary Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident, hic.


    .card.user-goals-card
        .card-header Goals
        .card-body 
            ul.list-group.list-group-flush
                -for(i=0; i<6; i++) 
                    li.list-group-item.px-0 Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    .card.user-challenges-card
        .card-header Challenges
        .card-body 
            ul.list-group.list-group-flush
                -for(i=0; i<5; i++) 
                    li.list-group-item.px-0 Lorem ipsum dolor, sit amet consectetur adipisicing elit.


    .card.user-behavior-card 
        .card-header Behavior
        .card-body 
            ul.list-group.list-group-flush
            -for(i=0; i<3; i++)
                li.list-group-item Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea natus voluptatum asperiores fugit eveniet repudiandae consequatur laudantium ratione assumenda magni?
    
    .card.user-motivation-card 
        .card-header Motivation
        .card-body 
            ul.list-group.list-group-flush
            -for(i=0; i<3; i++)
                li.list-group-item Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea natus voluptatum asperiores fugit eveniet repudiandae consequatur laudantium ratione assumenda magni?