
<footer class="footer-nav-wrapper fixed-bottom bg-primary-subtle">
  <ul class="nav justify-content-center mb-2 mb-lg-0">
    <li class="nav-item small"><a class="nav-link d-flex flex-column text-center active" aria-current="page" href="#"> <span class="fa-solid fa-home d-xl-none"></span><span class="label">Home</span></a></li>
    <li class="nav-item small"><a class="nav-link d-flex flex-column text-center" href="#projects"> <span class="fa-solid fa-briefcase d-xl-none"></span><span class="label">Projects   </span></a></li>
    <li class="nav-item small"><a class="nav-link d-flex flex-column text-center" href="#contact"><span class="fa-solid fa-address-card d-xl-none"></span><span class="label">Contact</span></a></li>
    <li class="nav-item small"><a class="nav-link d-flex flex-column text-center" href="#quote"><span class="fa-solid fa-file-lines d-xl-none"></span><span class="label">Quotes</span></a></li>
  </ul>
</footer>