footer.footer-nav-wrapper.fixed-bottom.bg-primary-subtle
    ul.nav.justify-content-center.mb-2.mb-lg-0
        li.nav-item.small
            a.nav-link.d-flex.flex-column.text-center.active(aria-current='page' href='#') 
                span.fa-solid.fa-home.d-xl-none
                span.label Home
        li.nav-item.small
            a.nav-link.d-flex.flex-column.text-center(href='#projects') 
                span.fa-solid.fa-briefcase.d-xl-none
                span.label Projects   
        li.nav-item.small
            a.nav-link.d-flex.flex-column.text-center(href='#contact')
                span.fa-solid.fa-address-card.d-xl-none
                span.label Contact
        li.nav-item.small
            a.nav-link.d-flex.flex-column.text-center(href='#quote')
                span.fa-solid.fa-file-lines.d-xl-none
                span.label Quotes
                