section.home 
    video#bg-video(autoplay='' muted='' loop='')
        source(src='https://videos.pexels.com/video-files/19457509/19457509-uhd_3840_2160_30fps.mp4' type='video/mp4')
        | Your browser does not support the video tag.
    .container.hero-section
        .row.justify-content-center 
            .col-lg-8.mb-2
                img.img-fluid.rounded.wireframe(src="./assets/images/wireframe.jpg", alt="")
            .col-lg-8
                h1.headline.text-light.mb-3
                    | I Create High-Performance User Interfaces That Enhance User
                    | Engagement
                a.btn.btn-outline-light(href="#projects") View Projects 
            