section.home 
    video#bg-video(autoplay='' muted='' loop='')
        source(src='https://videos.pexels.com/video-files/19457509/19457509-uhd_3840_2160_30fps.mp4' type='video/mp4')
        | Your browser does not support the video tag.
    .container.hero-section
        .row.align-items-center
            .col-lg-6.text-start.mb-3
                h1.headline.text-light
                    | I Create High-Performance User Interfaces That Enhance User
                    | Engagement
                p.lead.text-light Crafting seamless digital experiences with intuitive design and cutting-edge technology.
                a.btn.btn-outline-light(href="#projects") View Projects 
            .col-lg-6.mb-2.position-relative.me-0
                .home-main-img-wrapper.mb-3.mb-md-0
                    img.rounded(src="./assets/images/home-img.jpg", alt="")
                .card.bg-primary-subtle.mb-3.accent-card-left.text-start.shadow.d-none.d-lg-block
                    .card-body
                        .d-flex.align-items-center.mb-3
                            .flex-shrink-0
                                img.rounded-circle.img-thumbnail.border-0(src='https://mighty.tools/mockmind-api/content/human/97.jpg' alt='...' style="width: 50px;")
                            .flex-grow-1.ms-2
                                p.card-text.fw-bold.mb-0 User Name
                                -for(i=0; i<5; i++)
                                    span.fa-solid.fa-star.text-warning
                        p.card-text My site performs 100% faster!
                .card.bg-secondary.mb-3.accent-card-right.text-start.shadow.d-none.d-lg-block
                
                    .card-body
                        p.card-text
                            span Over 
                            span.d-block.h2.my-0 5,000
                            span websites and software applications
                            |
                            br
                            | refreshed since 2018
            