#bg-video{
    position: fixed;
    right: 0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.home-main-img-wrapper{
    height: 300px;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}


@media(min-width:992px){
    .home-main-img-wrapper{
        height: 600px;
    }

    .accent-card-left, .accent-card-right{
    position: absolute;
    }
    

    .accent-card-left{
    bottom: -4rem;
    left: -1rem;
    }
    
    .accent-card-right{
    bottom: 5rem;
    right: -1rem;
    }
}


